body{
    background-image: url("./test.jpg");
    color: aliceblue;
}

h1{
    color: #34495e;
    transition: color 0.5s ease-in-out;
}

.greetings,
.form{
    display: none;
}

.showing{
    display: block;
}